.bread-cramb{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid var(--darken-color);
    ul{

        margin-left: 63px;
        li {
            
            a{
                padding: 0 5px;
                color: var(--primary-color)
            }
        
            &:last-child{
                padding: 0 5px;
            }
        }
    }
}